.loginContainer{
    color:#373A3C;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 9%;
    /* position: relative; */
    /* background-color: black;  */
    /* height: 500px; 
    width: 1000px; */
    /* margin-left:500px;
    margin-top: 107px;  */
}

.txtArea{
    margin-left: 592px;
    padding-top:140px;
    float: left;
    font-size:16px;
}

.txtLogin{
    font-size:40px;
    font-weight: bold;
}

.txtBoxEmailPassword{
    padding: 6px;
    width:500px;
    border:1px solid #DDDDDD;
    border-radius: 4px;
}

.loginButton{
     padding: 4px; 
   /* margin-top:50px;*/
    float:right;
    border-radius:4px;
    width:260px;
    background-color:#1C7CD5;
    border: 1px solid #1C7CD5;
    color:white;
}