.loginContainer{
    height:568px;
    color:#373A3C;   
}

.txtArea{
    margin-left: 592px;
    padding-top:140px;
    float: left;
    font-size:16px;
}

.txtLogin{
    font-size:40px;
    font-weight: bold;
}

.txtBoxEmailPassword{
    padding: 6px;
    width:500px;
    border:1px solid #DDDDDD;
    border-radius: 4px;
}

.loginButton{
    padding: 4px;
   /* margin-top:50px;*/
    border-radius:4px;
    width:260px;
    background-color:#1C7CD5;
    border: 1px solid #1C7CD5;
    color:white;
}